/* CSS TO BE ADDED TO ALL STYLESHEETS */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: aliceblue;
  /* scroll-behavior: none; */
  height: 100vh;
  /* overflow: hidden; */
  background: url(https://wallpaperaccess.com/full/14358.jpg) no-repeat center
    center fixed;
  background: url(https://wallpaperaccess.com/full/1225736.jpg) no-repeat center
    fixed;
  background: url(./bg.jpg) center no-repeat fixed;
  background-size: cover;
  color: black;
  user-select: none;
}
div.container {
  height: 80vh;
  overflow: auto;
  width: 100%;
  margin: 0.8rem auto;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  background-clip: padding-box;
  /* padding: 1px !important; */
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(76, 123, 151, 0.75);
  border-radius: 10px;
  background-clip: padding-box;
  padding: 1px !important;
}

/* SCROLLBAR END */

hr {
  width: 40%;
  margin: 10vh auto;
  border-top: 10px dotted;
  opacity: 1;
}
#heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 1rem;
  /* margin: 1rem; */
}

#infinity,
#multiverse {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 2rem;
}
h2 {
  text-align: center;
  margin: 1rem auto;
}

/* ul {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
} */
li {
  list-style: none;
  margin: 1rem auto;
  /* text-align: center; */
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/* media queries for screen smaller than 768px */
@media screen and (max-width: 768px) {
  #infinity,
  #multiverse {
    flex-flow: column nowrap;
    align-items: center;
  }
  .container {
    margin: 0 auto !important;
  }
  li {
    font-size: 1rem;
  }
  #heading {
    font-size: 1.5rem;
  }
  hr {
    width: 80%;
  }
}
